.content {
   
    border-style:solid;
    border-width:2px;
    border-color:white;
    
}

header {
    border-style:solid;
    border-width:2px;
    border-color:rgb(216,216,225);
    text-align:right;
    background-color:rgb(216,216,225);
    
   padding-right: 10px;
}

h1{
    font-size:30px;
}

div{
    
    border-style:solid;
    border-width:2px;
    border-color: rgb(216,216,225);
}
.entry {
    
    margin-top: 10px;
    border-style:solid;
    border-width:2px;
    border-color:rgb(216,216,225);
    background-color:rgb(236,236,245);
    overflow:auto;
    padding-bottom: 10px;

    padding-right: 10px;padding-left: 10px
      
}

span{
    
    border-style:solid;
    border-width:2px;
    border-color:rgb(236,236,245);
    font-style: italic;
    color: slategray;
}


footer{
    text-align:center;
    border-color: ivory;
    
}

.cover{
    background-color:ivory;
    
   
}

body{
    background-image: url(img/paper.png);
    
    margin-left: 100px;
    margin-right: 100px;  
    font-family: Arial, Helvetica, sans-serif;
   
}

h1{
    text-align:right;
}

.pic{
    float: right;
    
}

nav{
    width: 196px;
    background-color:rgb(236,236,245);
    padding-right: 010px;
    padding-top: 10px;
    margin-top: 10px;
    height: 160px;

    flex: 1;
    
    
    border-style:solid;
    border-width:2px;
    border-color:rgb(216,216,225);
    background-color:rgb(236,236,245);
    margin-right: 10px;
       
}

ul{
    list-style-type: none; 
}

article{
    flex: 4.5;
}

.none{
    text-decoration: none;
}
